<h1>
<!-- here we echo the title from the component -->
  {{title}}
</h1>
<input type="file" (change)="fileChange($event)" placeholder="Look up" accept=".jpg,.png,.jpeg">
<input type="radio" value="0" name="type" [(ngModel)]="data.myType"> SRPL
<input type="radio" value="1" name="type" [(ngModel)]="data.myType"> SRE
<br>
<label>Results:</label>
<br>
<div id="photos-empty" *ngIf="photos.length == 0">
	<label>No results</label>
</div>
<div id="photos" *ngFor="let photo of photos">
   <img src={{photo.imagedata}} class="img-thumbnail" width="20%"/>
   <label>{{photo[2]}}</label>
</div>